In [ ]:
#  Arithmatic Oprators


a = 55
b = 18


print(a + b )
print(a - b )
print(a * b )
print(a / b )
print(a % b )
print(a // b )    # --> floor dividsion it removes the decimal at given only exact value

73
37
990
3.0555555555555554
1
3

In [ ]:
# Comparison Oprator 
# 1  ( ==  )
c = 12
d = 12

print(c == d )

True

In [ ]:
# 2  ( != )

x = "Aniket"
y = "aniket"

print(x != y)

False

In [13]:
#  3 Grater Than  ( > )

num1 = 52
num2 = 53


num1 > num2

False

In [14]:
#  4 Less Than 

num3 = 54
num4 = 65

num3 < num3

False

In [15]:
# 5 Grater Than Or Equal To 

num5 = 85
num6 = 75

num5 >= num6

True

In [16]:
# 5 Less Than Or Equal To 

num5 = 85
num6 = 75

num5 <= num6

False

In [18]:
# Logical Oprator 

#  1 AND Oprator 

X = True
Y = False


result = X and Y
print(result)

False

In [19]:
#  2 OR Oprator 

X = True
Y = False


result = X or Y
print(result)

True

In [20]:
Z = True

print( not Z)

False